In [23]:
#import libraries
import requests
from datetime import datetime as dt
from datetime import timedelta
import pandas as pd

In [24]:
# get events from n days ago
iso = 887 #Pike I changed this to Yemen
limit = 400

api_url = 'https://api.acleddata.com/acled/read?terms=accept&iso={}'.format(iso)
print (api_url, type(api_url)) #creates request according to ACLED format specifications - p. 13

https://api.acleddata.com/acled/read?terms=accept&iso=887 <class 'str'>

In [25]:
response = requests.get(api_url)
data = response.json()
data.keys()
data['count']

500

### From the documentation we know this is the max return --- How can we get all the results?

In [26]:
# Let's mkae a function that updates our search to get the new pages

def ping_acled(api_url): 
    '''
    Takes one parameter search term for API
    '''
    
    response = requests.get(api_url)
    data = response.json()
    return data

In [27]:

results = [] # empty data strcture to store results
num_results = 500 # condition to continue adding pages
count = 0  # tracker of results
page = 1 #Per the documentation each page will give us more results

while num_results == 500: #if less 500 or 0 we know we have all the results
    print ("starting ", page, " ", num_results) #just to see our progress
    api_url = 'https://api.acleddata.com/acled/read?terms=accept&iso={}&page={}'.format(iso,page) #the search
    data = ping_acled(api_url) #call the previous function 
    results.append(data['data']) #store in our results
    count += data['count'] #Track number of results
    num_results = data['count'] #update our condition
    page += 1 #update our page variable
    print ("Total Results ", count) #Track our progress
    #Pike this is a bit intimidating  I know Yemen is a mess but damn
    #I was worried that the 58000 entries would break the code  Does that ever happen

starting  1   500
Total Results  500
starting  2   500
Total Results  1000
starting  3   500
Total Results  1500
starting  4   500
Total Results  2000
starting  5   500
Total Results  2500
starting  6   500
Total Results  3000
starting  7   500
Total Results  3500
starting  8   500
Total Results  4000
starting  9   500
Total Results  4500
starting  10   500
Total Results  5000
starting  11   500
Total Results  5500
starting  12   500
Total Results  6000
starting  13   500
Total Results  6500
starting  14   500
Total Results  7000
starting  15   500
Total Results  7500
starting  16   500
Total Results  8000
starting  17   500
Total Results  8500
starting  18   500
Total Results  9000
starting  19   500
Total Results  9500
starting  20   500
Total Results  10000
starting  21   500
Total Results  10500
starting  22   500
Total Results  11000
starting  23   500
Total Results  11500
starting  24   500
Total Results  12000
starting  25   500
Total Results  12500
starting  26   500
Total Results  13000
starting  27   500
Total Results  13500
starting  28   500
Total Results  14000
starting  29   500
Total Results  14500
starting  30   500
Total Results  15000
starting  31   500
Total Results  15500
starting  32   500
Total Results  16000
starting  33   500
Total Results  16500
starting  34   500
Total Results  17000
starting  35   500
Total Results  17500
starting  36   500
Total Results  18000
starting  37   500
Total Results  18500
starting  38   500
Total Results  19000
starting  39   500
Total Results  19500
starting  40   500
Total Results  20000
starting  41   500
Total Results  20500
starting  42   500
Total Results  21000
starting  43   500
Total Results  21500
starting  44   500
Total Results  22000
starting  45   500
Total Results  22500
starting  46   500
Total Results  23000
starting  47   500
Total Results  23500
starting  48   500
Total Results  24000
starting  49   500
Total Results  24500
starting  50   500
Total Results  25000
starting  51   500
Total Results  25500
starting  52   500
Total Results  26000
starting  53   500
Total Results  26500
starting  54   500
Total Results  27000
starting  55   500
Total Results  27500
starting  56   500
Total Results  28000
starting  57   500
Total Results  28500
starting  58   500
Total Results  29000
starting  59   500
Total Results  29500
starting  60   500
Total Results  30000
starting  61   500
Total Results  30500
starting  62   500
Total Results  31000
starting  63   500
Total Results  31500
starting  64   500
Total Results  32000
starting  65   500
Total Results  32500
starting  66   500
Total Results  33000
starting  67   500
Total Results  33500
starting  68   500
Total Results  34000
starting  69   500
Total Results  34500
starting  70   500
Total Results  35000
starting  71   500
Total Results  35500
starting  72   500
Total Results  36000
starting  73   500
Total Results  36500
starting  74   500
Total Results  37000
starting  75   500
Total Results  37500
starting  76   500
Total Results  38000
starting  77   500
Total Results  38500
starting  78   500
Total Results  39000
starting  79   500
Total Results  39500
starting  80   500
Total Results  40000
starting  81   500
Total Results  40500
starting  82   500
Total Results  41000
starting  83   500
Total Results  41500
starting  84   500
Total Results  42000
starting  85   500
Total Results  42500
starting  86   500
Total Results  43000
starting  87   500
Total Results  43500
starting  88   500
Total Results  44000
starting  89   500
Total Results  44500
starting  90   500
Total Results  45000
starting  91   500
Total Results  45500
starting  92   500
Total Results  46000
starting  93   500
Total Results  46500
starting  94   500
Total Results  47000
starting  95   500
Total Results  47500
starting  96   500
Total Results  48000
starting  97   500
Total Results  48500
starting  98   500
Total Results  49000
starting  99   500
Total Results  49500
starting  100   500
Total Results  50000
starting  101   500
Total Results  50500
starting  102   500
Total Results  51000
starting  103   500
Total Results  51500
starting  104   500
Total Results  52000
starting  105   500
Total Results  52500
starting  106   500
Total Results  53000
starting  107   500
Total Results  53500
starting  108   500
Total Results  54000
starting  109   500
Total Results  54500
starting  110   500
Total Results  55000
starting  111   500
Total Results  55500
starting  112   500
Total Results  56000
starting  113   500
Total Results  56500
starting  114   500
Total Results  57000
starting  115   500
Total Results  57500
starting  116   500
Total Results  57820

In [28]:
#Now I want to put them together into one giant result
super_list = []
for res in results: 
    super_list += res
    print (len(super_list))
    #This is a giant result

500
1000
1500
2000
2500
3000
3500
4000
4500
5000
5500
6000
6500
7000
7500
8000
8500
9000
9500
10000
10500
11000
11500
12000
12500
13000
13500
14000
14500
15000
15500
16000
16500
17000
17500
18000
18500
19000
19500
20000
20500
21000
21500
22000
22500
23000
23500
24000
24500
25000
25500
26000
26500
27000
27500
28000
28500
29000
29500
30000
30500
31000
31500
32000
32500
33000
33500
34000
34500
35000
35500
36000
36500
37000
37500
38000
38500
39000
39500
40000
40500
41000
41500
42000
42500
43000
43500
44000
44500
45000
45500
46000
46500
47000
47500
48000
48500
49000
49500
50000
50500
51000
51500
52000
52500
53000
53500
54000
54500
55000
55500
56000
56500
57000
57500
57820

In [29]:
#Pike changed the name to reflect the proper country
yemen_res = pd.DataFrame(super_list)
yemen_res.head()

,data_id,iso,event_id_cnty,event_id_no_cnty,event_date,year,time_precision,event_type,sub_event_type,actor1,...,location,latitude,longitude,geo_precision,source,source_scale,notes,fatalities,timestamp,iso3
0,7227434,887,YEM58017,58017,2020-09-19,2020,1,Explosions/Remote violence,Shelling/artillery/missile attack,Military Forces of Yemen (2012-),...,Al Fajir,13.8667,44.6000,2,Khabar News Agency (Yemen); Yemen Data Project,Local partner-National,"On 19 September 2020, joint forces (coded as p...",0,1600709908,YEM
1,7227435,887,YEM58018,58018,2020-09-19,2020,1,Explosions/Remote violence,Air/drone strike,Operation Restoring Hope,...,Al Ghaylah,14.5958,45.5833,2,Yemen Data Project; Yemen News Agency (SABA) -...,Local partner-National,"On 19 September 2020, the Arab Coalition condu...",0,1600709908,YEM
2,7227436,887,YEM58019,58019,2020-09-19,2020,1,Explosions/Remote violence,Shelling/artillery/missile attack,National Resistance Forces,...,Al Hudaydah,14.7978,42.9545,3,Yemen Data Project; Yemen News Agency (SABA) -...,Local partner-National,"On 19 September 2020, anti-Houthi forces shell...",0,1600709908,YEM
3,7227437,887,YEM58020,58020,2020-09-19,2020,1,Battles,Armed clash,National Resistance Forces,...,Al Hudaydah,14.7978,42.9545,1,Al Amaliqah; Yemen Data Project,Local partner-National,"On 19 September 2020, anti-Houthi National Res...",10,1600709908,YEM
4,7227438,887,YEM58021,58021,2020-09-19,2020,1,Explosions/Remote violence,Shelling/artillery/missile attack,Military Forces of Yemen (2016-) Supreme Polit...,...,Al Fazzah,14.1031,43.1016,1,Al Amaliqah; Yemen Data Project,Local partner-National,"On 19 September 2020, pro-Houthi forces shelle...",0,1600709908,YEM

### Do the right thing, take some time to look at the codebook and see what these columns are

In [30]:
yemen_res.columns

Index(['data_id', 'iso', 'event_id_cnty', 'event_id_no_cnty', 'event_date',
       'year', 'time_precision', 'event_type', 'sub_event_type', 'actor1',
       'assoc_actor_1', 'inter1', 'actor2', 'assoc_actor_2', 'inter2',
       'interaction', 'region', 'country', 'admin1', 'admin2', 'admin3',
       'location', 'latitude', 'longitude', 'geo_precision', 'source',
       'source_scale', 'notes', 'fatalities', 'timestamp', 'iso3'],
      dtype='object')

### Homework --- Make a map of some ACLED Data (absolutely use the code from the Global Terrorism Database exercise)

In [31]:
from bokeh.tile_providers import get_provider, Vendors 
from pyproj import Transformer
tile_provider =get_provider('STAMEN_TERRAIN')
import math
from bokeh.plotting import figure, output_notebook, show
#Pike got help from my coworker Brandon Mohr on this
#Will be borrowing this technique for other mapping projects 
#as I like this better than the GTD method

In [32]:
yemen_map = yemen_res[["latitude", 'longitude', 'data_id']]

In [33]:
yemen_map['latitude'] = yemen_map['latitude'].astype(float)
yemen_map['longitude'] = yemen_map['longitude'].astype(float)
yemen_map['data_id'] = yemen_map['data_id'].astype(float)
#Pike the conversion fix you described in class

<ipython-input-33-268010bd8d27>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yemen_map['latitude'] = yemen_map['latitude'].astype(float)
<ipython-input-33-268010bd8d27>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yemen_map['longitude'] = yemen_map['longitude'].astype(float)
<ipython-input-33-268010bd8d27>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yemen_map['data_id'] = yemen_map['data_id'].astype(float)

In [34]:
transformer = Transformer.from_crs('epsg:4326','epsg:3857')

In [35]:
map_dict = {}
nan_count = {}

for idx, row in yemen_map.iterrows():
    if row['data_id'] in map_dict.keys():
        if math.isnan(row["latitude"]):
            if row['data_id'] in nan_count.keys():
                nan_count[row['data_id']] += 1
            else:
                nan_count[row['data_id']] = 1
                
        else:
            point = transformer.transform(row["latitude"],row["longitude"])
            map_dict[row['data_id']].append([point[0],point[1]])
            
    else:
        if math.isnan(row["latitude"]):
            nan_count[row['data_id']] = 1
        else:
            point = transformer.transform(row["latitude"],row["longitude"])
            map_dict[row['data_id']] =[[point[0],point[1]]]
#Pike this portion of the code is essentially unchanged save for data id for gname            
nan_count

{}

for idx, row in yemen_map.iterrows():
    if row['data_id'] in map_dict.keys():
        if math.isnan(row["latitude"]):
            if row['data_id'] in nan_count.keys():
                nan_count[row['data_id']] += 1
            else:
                nan_count[row['data_id']] = 1
        else:
            point - transformer.transform(row["latitude"],row{"longitude"])
            map_dict[row['data_id']].append([point[0],point[1]])

In [36]:
pts = [(19.07, 41.68), (12.01, 54.87)]
bbox = []
for pt in transformer.itransform(pts):
    bbox.append(pt)
    
#Pike included the Red Sea Bab al Mandab strait and island of Socotra for completeness sake

In [37]:
NPA_x = []
NPA_y = []
for k, v in map_dict.items():
    for pt in v:
        NPA_x.append(pt[0])
        NPA_y.append(pt[1])

In [38]:
p = figure(x_range=(bbox[0][0], bbox[1][0]),y_range=(bbox[0][1], bbox[1][1]), x_axis_type="mercator", y_axis_type="mercator")
p.add_tile(tile_provider)
p.circle(x = NPA_x, y = NPA_y, color= "firebrick")

show(p)

#Pike as my old ops chief would say Yemen is a show